In [1]:
# importing packages
import pandas as pd
import os
import numpy as np

In [ ]:
# Getting directory information
os.getcwd()

In [ ]:
# Reading excel file
falls_injury_by_age_sex = pd.ExcelFile("Falls.xlsx")

In [ ]:
# Getting data from excel tabs
falls_injury_by_age_sex_df1 = pd.read_excel(falls_injury_by_age_sex, 'Table 7.1')

In [ ]:
falls_injury_by_age_sex_df1

In [ ]:
# Dropping the un-necessary columns
falls_injury_by_age_sex_df1 = falls_injury_by_age_sex_df1.drop(falls_injury_by_age_sex_df1.columns[1:14], axis=1)

In [ ]:
# Assigning Columns names
falls_injury_by_age_sex_df1.columns = falls_injury_by_age_sex_df1.iloc[0]

In [ ]:
falls_injury_by_age_sex_df1.head()

In [ ]:
# Droppping index columns
falls_injury_by_age_sex_df1.drop(index = 0, inplace = True)

In [ ]:
falls_injury_by_age_sex_df1

In [ ]:
# Renaming columns
falls_injury_by_age_sex_df1.columns.values[0] = 'Year'

In [ ]:
# Extracting rows to a new df
falls_injury_by_age_sex_df1_males = falls_injury_by_age_sex_df1.iloc[1:17]

In [ ]:
falls_injury_by_age_sex_df1_males

In [ ]:
# Creating a new column and assigning values to it
falls_injury_by_age_sex_df1_males['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
falls_injury_by_age_sex_df1_females = falls_injury_by_age_sex_df1.iloc[18:34]

In [ ]:
falls_injury_by_age_sex_df1_females

In [ ]:
# Creating a new column and assigning values to it
falls_injury_by_age_sex_df1_females['Gender'] = 'Female'

In [ ]:
# Extracting rows to a new df
falls_injury_by_age_sex_df1_persons = falls_injury_by_age_sex_df1.iloc[35:51]

In [ ]:
falls_injury_by_age_sex_df1_persons

In [ ]:
# Creating a new column and assigning values to it
falls_injury_by_age_sex_df1_persons['Gender'] = 'Persons'

In [ ]:
# Reading excel file
falls_injury_by_age_sex_rates = pd.read_excel(falls_injury_by_age_sex, 'Table 7.2')

In [ ]:
falls_injury_by_age_sex_rates

In [ ]:
# Assigning column names
falls_injury_by_age_sex_rates.columns = falls_injury_by_age_sex_rates.iloc[0]

In [ ]:
# Dropping the index column
falls_injury_by_age_sex_rates.drop(index = 0, inplace = True)

In [ ]:
# Dropping the non required fields
falls_injury_by_age_sex_rates = falls_injury_by_age_sex_rates.drop(falls_injury_by_age_sex_rates.columns[1:14], axis=1)

In [ ]:
falls_injury_by_age_sex_rates.columns.values[0] = 'Year'

In [ ]:
# Extracting required files to a new df
falls_injury_by_age_sex_rates_males = falls_injury_by_age_sex_rates.iloc[1:17]

In [ ]:
falls_injury_by_age_sex_rates_males

In [ ]:
# falls_injury_by_age_sex_rates_males.columns.values[1] = '65-69_rates'
# falls_injury_by_age_sex_rates_males.columns.values[1] = 'abc'
# falls_injury_by_age_sex_rates_males.columns.values[2] = '70-74_rates'
# falls_injury_by_age_sex_rates_males.columns.values[3] = '75-79_rates'
# falls_injury_by_age_sex_rates_males.columns.values[4] = '80-84_rates'
# falls_injury_by_age_sex_rates_males.columns.values[5] = '85-89_rates'
# falls_injury_by_age_sex_rates_males.columns.values[6] = '90-94_rates'
# falls_injury_by_age_sex_rates_males.columns.values[7] = '95+_rates'

In [ ]:
falls_injury_by_age_sex_rates_males

In [ ]:
# Extracting column values toa list
column65 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[1]].to_list()
column70 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[2]].to_list()
column75 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[3]].to_list()
column80 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[4]].to_list()
column85 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[5]].to_list()
column90 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[6]].to_list()
column95 = falls_injury_by_age_sex_rates_males[falls_injury_by_age_sex_rates_males.columns[7]].to_list()

In [ ]:
column65

In [ ]:
falls_injury_by_age_sex_df1_males.head()

In [ ]:
#Inserting columns to df
falls_injury_by_age_sex_df1_males.insert(2, "65–69_rate", column65, True)
falls_injury_by_age_sex_df1_males.insert(4, "70–74_rate", column70, True)
falls_injury_by_age_sex_df1_males.insert(6, "75–79_rate", column75, True)
falls_injury_by_age_sex_df1_males.insert(8, "80–84_rate", column80, True)
falls_injury_by_age_sex_df1_males.insert(10, "85–89_rate", column85, True)
falls_injury_by_age_sex_df1_males.insert(12, "90–95_rate", column90, True)
falls_injury_by_age_sex_df1_males.insert(14, "95+_rate", column95, True)

In [ ]:
# Extracting rows to a new df
falls_injury_by_age_sex_rates_females = falls_injury_by_age_sex_rates.iloc[18:34]

In [ ]:
falls_injury_by_age_sex_rates_females

In [ ]:
# Extacting the columns from df to list
column65f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[1]].to_list()
column70f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[2]].to_list()
column75f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[3]].to_list()
column80f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[4]].to_list()
column85f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[5]].to_list()
column90f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[6]].to_list()
column95f = falls_injury_by_age_sex_rates_females[falls_injury_by_age_sex_rates_females.columns[7]].to_list()

In [ ]:
column65f

In [ ]:
falls_injury_by_age_sex_df1_males.columns

In [ ]:
# Inserting the list to the df
falls_injury_by_age_sex_df1_females.insert(2, "65–69_rate", column65f, True)
falls_injury_by_age_sex_df1_females.insert(4, "70–74_rate", column70f, True)
falls_injury_by_age_sex_df1_females.insert(6, "75–79_rate", column75f, True)
falls_injury_by_age_sex_df1_females.insert(8, "80–84_rate", column80f, True)
falls_injury_by_age_sex_df1_females.insert(10, "85–89_rate", column85f, True)
falls_injury_by_age_sex_df1_females.insert(12, "90–95_rate", column90f, True)
falls_injury_by_age_sex_df1_females.insert(14, "95+_rate", column95f, True)

In [ ]:
falls_injury_by_age_sex_df1_females

In [ ]:
# Extracting the rows to a new df
falls_injury_by_age_sex_rates_persons = falls_injury_by_age_sex_rates.iloc[35:51]

In [ ]:
falls_injury_by_age_sex_rates_persons

In [ ]:
# Extracting column data to a list
column65p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[1]].to_list()
column70p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[2]].to_list()
column75p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[3]].to_list()
column80p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[4]].to_list()
column85p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[5]].to_list()
column90p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[6]].to_list()
column95p = falls_injury_by_age_sex_rates_persons[falls_injury_by_age_sex_rates_persons.columns[7]].to_list()

In [ ]:
falls_injury_by_age_sex_df1_males.columns

In [ ]:
# Inserting list data to the df
falls_injury_by_age_sex_df1_persons.insert(2, "65–69_rate", column65p, True)
falls_injury_by_age_sex_df1_persons.insert(4, "70–74_rate", column70p, True)
falls_injury_by_age_sex_df1_persons.insert(6, "75–79_rate", column75p, True)
falls_injury_by_age_sex_df1_persons.insert(8, "80–84_rate", column80p, True)
falls_injury_by_age_sex_df1_persons.insert(10, "85–89_rate", column85p, True)
falls_injury_by_age_sex_df1_persons.insert(12, "90–95_rate", column90p, True)
falls_injury_by_age_sex_df1_persons.insert(14, "95+_rate", column95p, True)

In [ ]:
falls_injury_by_age_sex_df1_persons

In [ ]:
# Concatenating the dataframes
falls_injury_by_age_sex_final = pd.concat([falls_injury_by_age_sex_df1_males,falls_injury_by_age_sex_df1_females
                                          ,falls_injury_by_age_sex_df1_persons])

In [ ]:
# Resetting the index value
falls_injury_by_age_sex_final = falls_injury_by_age_sex_final.reset_index()

In [ ]:
falls_injury_by_age_sex_final.head()

In [ ]:
# Dropping the index column
falls_injury_by_age_sex_final.drop(falls_injury_by_age_sex_final.columns[0],axis=1,inplace=True)

In [ ]:
# Reading the excel file
falls_injury_by_residence = pd.read_excel(falls_injury_by_age_sex, 'Table 7.4A')

In [ ]:
falls_injury_by_residence.head(77)

In [ ]:
# Assigning column name values
falls_injury_by_residence.columns = falls_injury_by_residence.iloc[0]

In [ ]:
# Dropping the index column
falls_injury_by_residence.drop(index = 0, inplace = True)

In [ ]:
# Renaming the column name
falls_injury_by_residence.columns.values[0] = 'Year'

In [ ]:
# Dropping the unwanted columns
falls_injury_by_residence.drop(falls_injury_by_residence.columns[1:14], axis=1, inplace =True)

In [ ]:
falls_injury_by_residence.columns[1:14]

In [ ]:
# Extracting the data to a new df
falls_injury_by_residence_major_cities = falls_injury_by_residence.iloc[1:15]

In [ ]:
falls_injury_by_residence_major_cities

In [ ]:
# Creating a new column and assiging values
falls_injury_by_residence_major_cities['Residence'] = 'Major cities'

In [ ]:
# Extracting the data to a new df
falls_injury_by_residence_inner_regional = falls_injury_by_residence.iloc[16:30]

In [ ]:
falls_injury_by_residence_inner_regional

In [ ]:
# Adding a new column and assigning value
falls_injury_by_residence_inner_regional['Residence'] = 'Inner Regional'

In [ ]:
# Extracting the data to a new df
falls_injury_by_residence_outer_regional = falls_injury_by_residence.iloc[31:45]

In [ ]:
falls_injury_by_residence_outer_regional

In [ ]:
# Adding a new column and assigning value
falls_injury_by_residence_outer_regional['Residence'] = 'Outer Regional'

In [ ]:
# Extracting the data to a new df
falls_injury_by_residence_remote = falls_injury_by_residence.iloc[46:60]

In [ ]:
falls_injury_by_residence_remote

In [ ]:
# Adding a new column and assigning value
falls_injury_by_residence_remote['Residence'] = 'Remote'

In [ ]:
# Extracting the data to a new df
falls_injury_by_residence_very_remote = falls_injury_by_residence.iloc[61:75]

In [ ]:
falls_injury_by_residence_very_remote

In [ ]:
# Adding a new column and assigning value
falls_injury_by_residence_very_remote['Residence'] = 'Very Remote'

In [ ]:
# Concatenating multiple dfs
falls_injury_by_residence_final = pd.concat([falls_injury_by_residence_major_cities,falls_injury_by_residence_outer_regional,
                                            falls_injury_by_residence_inner_regional,falls_injury_by_residence_remote,
                                            falls_injury_by_residence_very_remote])

In [ ]:
# Reseting the index
falls_injury_by_residence_final = falls_injury_by_residence_final.reset_index()

In [ ]:
falls_injury_by_residence_final.head()

In [ ]:
# Dropping the column
falls_injury_by_residence_final.drop(falls_injury_by_residence_final.columns[0],axis = 1,inplace=True)

In [ ]:
# Reading the excel file
falls_injury_by_indegenous = pd.ExcelFile('falls 3.xlsx')

In [ ]:
# Parsing the excel tabs to a new df
falls_injury_by_indegenous_df1 = falls_injury_by_indegenous.parse('Table SF7.4', skiprows=2, index_col=None)

In [ ]:
falls_injury_by_indegenous_df1.head()

In [ ]:
# Renaming the columns
falls_injury_by_indegenous_df1.rename(columns={'Count.1':'NonIndigenous_Count','Rate.1':'NonIndigenous Rate'}, inplace=True)

In [ ]:
# Reading the excel file
falls_injury_by_place_of_occurence = pd.ExcelFile('Falls by Place of occurrence.xlsx')

In [ ]:
# Parsing the excel tabs to a new df
head_falls_injury = falls_injury_by_place_of_occurence.parse('Table 5.5', skiprows=2, index_col=None)

In [ ]:
head_falls_injury.head()

In [ ]:
head_falls_injury.columns

In [ ]:
# Renaming the columns
head_falls_injury.rename(columns={'Unnamed: 0':'Year','Males':'Residential_males','Females':'Residential_females'
                                 ,'Males.1':'Community_males','Females.1':'Community_females' }, inplace=True)

In [ ]:
# Dropping the columns
head_falls_injury.drop(head_falls_injury.columns[3], axis=1, inplace =True)

In [ ]:
head_falls_injury

In [ ]:
# Extracting the data by rows to a new df
head_falls_injury_final = head_falls_injury.iloc[0:13]

In [ ]:
head_falls_injury_final

In [ ]:
# Reading the excel file
NSW_falls_data = pd.ExcelFile('NSW Falls Data.xlsx')

In [ ]:
# Reading the excel file
VIC_falls_data = pd.ExcelFile('VIC Falls Data.xlsx')

In [ ]:
# Reading the excel file
ACT_falls_data = pd.ExcelFile('ACT_falls.xlsx')

In [ ]:
# Reading the excel file
NT_falls_data = pd.ExcelFile('NT Falls Data.xlsx')

In [ ]:
# Reading the excel file
QLD_falls_data = pd.ExcelFile('QLD Falls Data.xlsx')

In [ ]:
# Reading the excel file
SA_falls_data = pd.ExcelFile('SA Falls Data.xlsx')

In [ ]:
# Reading the excel file
TAS_falls_data = pd.ExcelFile('TAS Falls Data.xlsx')

In [ ]:
# Reading the excel file
WA_falls_data = pd.ExcelFile('WA Falls Data.xlsx')

In [ ]:
# Reading the excel file
NT_falls_data = pd.ExcelFile('NT Falls Data.xlsx')

In [ ]:
# Parsing the file to df
ACT_falls_data_df1 = ACT_falls_data.parse('S4', skiprows=2, index_col=None)

In [ ]:
ACT_falls_data_df1

In [ ]:
# Parsing the file to df
NT_falls_data_df1 = NT_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [ ]:
NT_falls_data_df1

In [ ]:
# Parsing the file to df
QLD_falls_data_df1 = QLD_falls_data.parse('S4', skiprows=2, index_col=None)

In [ ]:
QLD_falls_data_df1

In [ ]:
# Parsing the file to df
SA_falls_data_df1 = SA_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [ ]:
SA_falls_data_df1

In [ ]:
# Parsing the file to df
TAS_falls_data_df1 = TAS_falls_data.parse('S4', skiprows=2, index_col=None)

In [ ]:
TAS_falls_data_df1

In [ ]:
# Parsing the file to df
WA_falls_data_df1 = WA_falls_data.parse('S4', skiprows=2, index_col=None)

In [ ]:
WA_falls_data_df1

In [ ]:
# Parsing the file to df
VIC_falls_data_df1 = VIC_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [ ]:
VIC_falls_data_df1

In [ ]:
# Parsing the file to df
NSW_falls_data_df1 = NSW_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [ ]:
NSW_falls_data_df1

In [ ]:
# Parsing the file to df
NT_falls_data_df1 = NT_falls_data.parse('Table S4', skiprows=2, index_col=None)

In [ ]:
NT_falls_data_df1.head()

In [ ]:
# Dropping the unwanted columns
NSW_falls_data_df1.drop(NSW_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
NSW_falls_data_df1

In [ ]:
# Extracting the row data to df
NSW_falls_data_df1_males = NSW_falls_data_df1.iloc[4:5]
NSW_falls_data_df1_males1 = NSW_falls_data_df1.iloc[13:14]

In [ ]:
NSW_falls_data_df1_males.columns

In [ ]:
NSW_falls_data_df1_males

In [ ]:
NSW_falls_data_df1_males1

In [ ]:
# Cancatenating the dfs
NSW_falls_data_df1_males_final = pd.concat([NSW_falls_data_df1_males,NSW_falls_data_df1_males1])

In [ ]:
NSW_falls_data_df1_males_final

In [ ]:
# Renaming the columns
NSW_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating column values
NSW_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a column and assigning values to it
NSW_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
NSW_falls_data_df1_females = NSW_falls_data_df1.iloc[18:19]

In [ ]:
# Extracting rows to a new df
NSW_falls_data_df1_females1 = NSW_falls_data_df1.iloc[27:28]

In [ ]:
NSW_falls_data_df1_females

In [ ]:
# Concatenating the df
NSW_falls_data_df1_females_final = pd.concat([NSW_falls_data_df1_females,NSW_falls_data_df1_females1])

In [ ]:
NSW_falls_data_df1_females_final

In [ ]:
# Renaming the column names
NSW_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating column values
NSW_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Assing a new column and assigning values
NSW_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
# Extracting rows to a dataframe
NSW_falls_data_df1_persons = NSW_falls_data_df1.iloc[32:33]

In [ ]:
# Extracting rows to a dataframe
NSW_falls_data_df1_persons1 = NSW_falls_data_df1.iloc[41:42]

In [ ]:
NSW_falls_data_df1_persons

In [ ]:
NSW_falls_data_df1_persons1

In [ ]:
# Concatenating dataframes
NSW_falls_data_df1_persons_final = pd.concat([NSW_falls_data_df1_persons,NSW_falls_data_df1_persons1])

In [ ]:
NSW_falls_data_df1_persons_final

In [ ]:
# Renaming column name
NSW_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Uodating Column values
NSW_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a new column and assing value to it
NSW_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
# Concatenating data files
NSW_falls_data_final = pd.concat([NSW_falls_data_df1_males_final,NSW_falls_data_df1_females_final,
                                 NSW_falls_data_df1_persons_final])

In [ ]:
# Reseting the index
NSW_falls_data_final.reset_index(inplace=True)

In [ ]:
NSW_falls_data_final

In [ ]:
# Dropping the previous index column
NSW_falls_data_final.drop(NSW_falls_data_final.columns[0], axis=1,inplace=True)

In [ ]:
# Adding a new column and assigning value
NSW_falls_data_final['State'] = 'NSW'

In [ ]:
# Dropping the unwanted columns
VIC_falls_data_df1.drop(VIC_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
VIC_falls_data_df1.head(20)

In [ ]:
# Extracting rows to a dataframe
VIC_falls_data_df1_males = VIC_falls_data_df1.iloc[4:5]
VIC_falls_data_df1_males1 = VIC_falls_data_df1.iloc[13:14]

In [ ]:
VIC_falls_data_df1_males

In [ ]:
VIC_falls_data_df1_males1

In [ ]:
# Concatenating the df
VIC_falls_data_df1_males_final = pd.concat([VIC_falls_data_df1_males,VIC_falls_data_df1_males1])

In [ ]:
VIC_falls_data_df1_males_final

In [ ]:
# Renaming column names
VIC_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating column values
VIC_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a column and assigning values
VIC_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
VIC_falls_data_df1_females = VIC_falls_data_df1.iloc[18:19]
VIC_falls_data_df1_females1 = VIC_falls_data_df1.iloc[27:28]

In [ ]:
# Concatenating the df
VIC_falls_data_df1_females_final = pd.concat([VIC_falls_data_df1_females,VIC_falls_data_df1_females1])

In [ ]:
VIC_falls_data_df1_females_final

In [ ]:
# Renaming the column names
VIC_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating column values
VIC_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a new column and assigning values
VIC_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
# Extracting rows to new dfs
VIC_falls_data_df1_persons = VIC_falls_data_df1.iloc[32:33]
VIC_falls_data_df1_persons1 = VIC_falls_data_df1.iloc[41:42]

In [ ]:
# Concatenating the dfs
VIC_falls_data_df1_persons_final = pd.concat([VIC_falls_data_df1_persons,VIC_falls_data_df1_persons1])

In [ ]:
VIC_falls_data_df1_persons_final

In [ ]:
# Renaming the column names
VIC_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating the column values
VIC_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a new column and assigning values
VIC_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
# Concatenating the dfs
VIC_falls_data_final = pd.concat([VIC_falls_data_df1_males_final,VIC_falls_data_df1_females_final,
                                 VIC_falls_data_df1_persons_final])

In [ ]:
VIC_falls_data_final

In [ ]:
# Reseting the index
VIC_falls_data_final.reset_index(inplace=True)

In [ ]:
# Remob=ving the old index
VIC_falls_data_final.drop(VIC_falls_data_final.columns[0], axis=1,inplace=True)

In [ ]:
# Adding a new column and assigning values to it
VIC_falls_data_final['State'] = 'VIC'

In [ ]:
# Dropping the unwanted columns
QLD_falls_data_df1.drop(QLD_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
QLD_falls_data_df1.head()

In [ ]:
# Extracting row values to new dfs
QLD_falls_data_df1_males = QLD_falls_data_df1.iloc[4:5]
QLD_falls_data_df1_males1 = QLD_falls_data_df1.iloc[13:14]

In [ ]:
# Concatenating the dfs
QLD_falls_data_df1_males_final = pd.concat([QLD_falls_data_df1_males,QLD_falls_data_df1_males1])

In [ ]:
QLD_falls_data_df1_males_final

In [ ]:
# Renaming column names
QLD_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

In [ ]:
# Updating column values
QLD_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

In [ ]:
# Adding a new column and assigning values to it
QLD_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
QLD_falls_data_df1_females = QLD_falls_data_df1.iloc[18:19]

QLD_falls_data_df1_females1 = QLD_falls_data_df1.iloc[27:28]

In [ ]:
# Concatenating the dfs
QLD_falls_data_df1_females_final = pd.concat([QLD_falls_data_df1_females,QLD_falls_data_df1_females1])

In [ ]:
QLD_falls_data_df1_females_final

In [ ]:
# Renaming columns, updating values and adding a new column
QLD_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

QLD_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

QLD_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
# Extracting rows to new dfs
QLD_falls_data_df1_persons = QLD_falls_data_df1.iloc[32:33]

QLD_falls_data_df1_persons1 = QLD_falls_data_df1.iloc[41:42]

# Concatenating the dfs
QLD_falls_data_df1_persons_final = pd.concat([QLD_falls_data_df1_persons,QLD_falls_data_df1_persons1])

# Renaming columns, updating values and adding a new column
QLD_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

QLD_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

QLD_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
QLD_falls_data_df1_persons_final

In [ ]:
# Concatenating the dfs
QLD_falls_data_final = pd.concat([QLD_falls_data_df1_males_final,QLD_falls_data_df1_females_final,
                                 QLD_falls_data_df1_persons_final])

In [ ]:
# Resetting the index
QLD_falls_data_final.reset_index(inplace=True)

# Dropping the unwanted columns
QLD_falls_data_final.drop(QLD_falls_data_final.columns[0], axis=1,inplace=True)

# Assing a new column and assigning values to it
QLD_falls_data_final['State'] = 'QLD'

In [ ]:
QLD_falls_data_final

In [ ]:
# Dropping the unwanted columns
TAS_falls_data_df1.drop(TAS_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
# Extracting rows to new dfs
TAS_falls_data_df1_males = TAS_falls_data_df1.iloc[4:5]
TAS_falls_data_df1_males1 = TAS_falls_data_df1.iloc[13:14]

# Concatenating the dfs
TAS_falls_data_df1_males_final = pd.concat([TAS_falls_data_df1_males,TAS_falls_data_df1_males1])

# Renaming columns, updating values and adding a new column
TAS_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
TAS_falls_data_df1_males_final

In [ ]:
# Extracting rows to new dfs
TAS_falls_data_df1_females = TAS_falls_data_df1.iloc[18:19]

TAS_falls_data_df1_females1 = TAS_falls_data_df1.iloc[27:28]

# Concatenating the dfs

TAS_falls_data_df1_females_final = pd.concat([TAS_falls_data_df1_females,TAS_falls_data_df1_females1])

# Renaming columns, updating values and adding a new column
TAS_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
TAS_falls_data_df1_females_final

In [ ]:
# Extracting rows to new dfs
TAS_falls_data_df1_persons = TAS_falls_data_df1.iloc[32:33]

TAS_falls_data_df1_persons1 = TAS_falls_data_df1.iloc[41:42]

# Concatenating the dfs
TAS_falls_data_df1_persons_final = pd.concat([TAS_falls_data_df1_persons,TAS_falls_data_df1_persons1])

# Renaming columns, updating values and adding a new column
TAS_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

TAS_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

TAS_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
TAS_falls_data_df1_persons_final

In [ ]:
# Concatenating the dfs
TAS_falls_data_final = pd.concat([TAS_falls_data_df1_males_final,TAS_falls_data_df1_females_final,
                                 TAS_falls_data_df1_persons_final])

In [ ]:
# Reseting the index
TAS_falls_data_final.reset_index(inplace=True)

# Dropping the previous index column
TAS_falls_data_final.drop(TAS_falls_data_final.columns[0], axis=1,inplace=True)

# Adding a new column and updating the values
TAS_falls_data_final['State'] = 'TAS'

In [ ]:
TAS_falls_data_final

In [ ]:
# Dropping the unwanted columns
WA_falls_data_df1.drop(WA_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
# Extracting rows to new dfs
WA_falls_data_df1_males = WA_falls_data_df1.iloc[4:5]
WA_falls_data_df1_males1 = WA_falls_data_df1.iloc[13:14]

# Concatenating the dfs
WA_falls_data_df1_males_final = pd.concat([WA_falls_data_df1_males,WA_falls_data_df1_males1])

# Renaming columns, updating values and adding a new column
WA_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
WA_falls_data_df1_males_final

In [ ]:
# Extracting rows to new dfs
WA_falls_data_df1_females = WA_falls_data_df1.iloc[18:19]

WA_falls_data_df1_females1 = WA_falls_data_df1.iloc[27:28]

# Concatenating the dfs
WA_falls_data_df1_females_final = pd.concat([WA_falls_data_df1_females,WA_falls_data_df1_females1])

# Renaming columns, updating values and adding a new column
WA_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
WA_falls_data_df1_females_final

In [ ]:
# Extracting rows to new dfs
WA_falls_data_df1_persons = WA_falls_data_df1.iloc[32:33]

WA_falls_data_df1_persons1 = WA_falls_data_df1.iloc[41:42]

# Concatenating the dfs
WA_falls_data_df1_persons_final = pd.concat([WA_falls_data_df1_persons,WA_falls_data_df1_persons1])

# Renaming columns, updating values and adding a new column
WA_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

WA_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

WA_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
WA_falls_data_df1_persons_final

In [ ]:
# concatenating the dfs
WA_falls_data_final = pd.concat([WA_falls_data_df1_males_final,WA_falls_data_df1_females_final,
                                 WA_falls_data_df1_persons_final])

In [ ]:
# Reseting the index
WA_falls_data_final.reset_index(inplace=True)

# Dropping the previous index
WA_falls_data_final.drop(WA_falls_data_final.columns[0], axis=1,inplace=True)

# Adding a new column and assigning values
WA_falls_data_final['State'] = 'WA'

In [ ]:
WA_falls_data_final

In [ ]:
# Dropping the unwanted columns
SA_falls_data_df1.drop(SA_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
SA_falls_data_df1.head()

In [ ]:
# Extracting the rows to new dfs
SA_falls_data_df1_males = SA_falls_data_df1.iloc[4:5]
SA_falls_data_df1_males1 = SA_falls_data_df1.iloc[13:14]

# Concatenating the dfs
SA_falls_data_df1_males_final = pd.concat([SA_falls_data_df1_males,SA_falls_data_df1_males1])

# Renaming columns, updating values and adding a new column
SA_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
SA_falls_data_df1_males_final

In [ ]:
# Extracting the rows to new dfs
SA_falls_data_df1_females = SA_falls_data_df1.iloc[18:19]

SA_falls_data_df1_females1 = SA_falls_data_df1.iloc[27:28]

# Cancatenating the dfs
SA_falls_data_df1_females_final = pd.concat([SA_falls_data_df1_females,SA_falls_data_df1_females1])

# Renaming columns, updating values and adding a new column
SA_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
SA_falls_data_df1_females_final

In [ ]:
# Extracting the rows to new dfs
SA_falls_data_df1_persons = SA_falls_data_df1.iloc[32:33]

SA_falls_data_df1_persons1 = SA_falls_data_df1.iloc[41:42]

# Concatenating the dfs
SA_falls_data_df1_persons_final = pd.concat([SA_falls_data_df1_persons,SA_falls_data_df1_persons1])

# Renaming columns, updating values and adding a new column
SA_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

SA_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

SA_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
# Concatenating the dfs
SA_falls_data_final = pd.concat([SA_falls_data_df1_males_final,SA_falls_data_df1_females_final,
                                 SA_falls_data_df1_persons_final])

In [ ]:
SA_falls_data_final

In [ ]:
# Reseting the index
SA_falls_data_final.reset_index(inplace=True)

# Dropping the previous index
SA_falls_data_final.drop(SA_falls_data_final.columns[0], axis=1,inplace=True)
# Adding a new column and assiging values
SA_falls_data_final['State'] = 'SA'

In [ ]:
# Dropping the unwanted columns
ACT_falls_data_df1.drop(ACT_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
# Extracting rows to new dfs
ACT_falls_data_df1_males = ACT_falls_data_df1.iloc[4:5]
ACT_falls_data_df1_males1 = ACT_falls_data_df1.iloc[13:14]

# Concatenating the dfs
ACT_falls_data_df1_males_final = pd.concat([ACT_falls_data_df1_males,ACT_falls_data_df1_males1])

# Renaming columns, updating values and adding a new column
ACT_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
ACT_falls_data_df1_males_final

In [ ]:
# Extracting rows to new dfs
ACT_falls_data_df1_females = ACT_falls_data_df1.iloc[18:19]

ACT_falls_data_df1_females1 = ACT_falls_data_df1.iloc[27:28]

# Concatenating the dfs
ACT_falls_data_df1_females_final = pd.concat([ACT_falls_data_df1_females,ACT_falls_data_df1_females1])

# Renaming columns, updating values and adding a new column
ACT_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
ACT_falls_data_df1_females_final

In [ ]:
# Extracting the rows data to new dfs
ACT_falls_data_df1_persons = ACT_falls_data_df1.iloc[32:33]

ACT_falls_data_df1_persons1 = ACT_falls_data_df1.iloc[41:42]

# concatenating the dfs
ACT_falls_data_df1_persons_final = pd.concat([ACT_falls_data_df1_persons,ACT_falls_data_df1_persons1])

# Renaming columns, updating values and adding a new column
ACT_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

ACT_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

ACT_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
ACT_falls_data_final = pd.concat([ACT_falls_data_df1_males_final,ACT_falls_data_df1_persons_final,
                                 ACT_falls_data_df1_persons_final])

In [ ]:
ACT_falls_data_final

In [ ]:
# Reseting the index
ACT_falls_data_final.reset_index(inplace=True)

# Dropping the old index
ACT_falls_data_final.drop(ACT_falls_data_final.columns[0], axis=1,inplace=True)

# Adding a new column and assing values
ACT_falls_data_final['State'] = 'ACT'

In [ ]:
# Dropping the unwanted columns
NT_falls_data_df1.drop(NT_falls_data_df1.columns[1:14], axis=1,inplace=True)

In [ ]:
NT_falls_data_df1

In [ ]:
# Extracting rows to new dfs
NT_falls_data_df1_males = NT_falls_data_df1.iloc[4:5]
NT_falls_data_df1_males1 = NT_falls_data_df1.iloc[13:14]

In [ ]:
# Concatenating the files
NT_falls_data_df1_males_final = pd.concat([NT_falls_data_df1_males,NT_falls_data_df1_males1])

# Renaming columns, updating values and adding a new column
NT_falls_data_df1_males_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

# Updating the columns values
NT_falls_data_df1_males_final['Injury Type'].values[1] = 'Total_Injuries'

# Adding a new column and assigning values
NT_falls_data_df1_males_final['Gender'] = 'Male'

In [ ]:
NT_falls_data_df1_males_final.head()

In [ ]:
# Extracting rows to new dfs
NT_falls_data_df1_females = NT_falls_data_df1.iloc[18:19]

NT_falls_data_df1_females1 = NT_falls_data_df1.iloc[27:28]

# Concatenating dfs
NT_falls_data_df1_females_final = pd.concat([NT_falls_data_df1_females,NT_falls_data_df1_females1])

# Renaming columns, updating values and adding a new column
NT_falls_data_df1_females_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

NT_falls_data_df1_females_final['Injury Type'].values[1] = 'Total_Injuries'

NT_falls_data_df1_females_final['Gender'] = 'Female'

In [ ]:
NT_falls_data_df1_females_final

In [ ]:
# Extracting rows to new dfs
NT_falls_data_df1_persons = NT_falls_data_df1.iloc[32:33]

NT_falls_data_df1_persons1 = NT_falls_data_df1.iloc[41:42]

# Concatenating dfs 
NT_falls_data_df1_persons_final = pd.concat([NT_falls_data_df1_persons,NT_falls_data_df1_persons1])

# Renaming the columns
NT_falls_data_df1_persons_final.rename(columns={'Unnamed: 0':'Injury Type'}, inplace=True)

# Updating column values
NT_falls_data_df1_persons_final['Injury Type'].values[1] = 'Total_Injuries'

# Adding a new column and assigning values
NT_falls_data_df1_persons_final['Gender'] = 'Persons'

In [ ]:
NT_falls_data_df1_persons_final

In [ ]:
# Concatenating the dfs
NT_falls_data_final = pd.concat([NT_falls_data_df1_males_final,NT_falls_data_df1_persons_final,
                                 NT_falls_data_df1_persons_final])

In [ ]:
NT_falls_data_final

In [ ]:
# Reseting the index
NT_falls_data_final.reset_index(inplace=True)

# Dropping the old index
NT_falls_data_final.drop(NT_falls_data_final.columns[0], axis=1,inplace=True)

NT_falls_data_final['State'] = 'NT'

In [ ]:
# Adding long and lat columns to dfs
NT_falls_data_final['Longitude'] = 130.841782
NT_falls_data_final['Latitude'] = -12.462827
ACT_falls_data_final['Longitude'] = 149.012375
ACT_falls_data_final['Latitude'] = -35.473469
VIC_falls_data_final['Longitude'] = 144.964600
VIC_falls_data_final['Latitude'] = -37.020100
NSW_falls_data_final['Longitude'] = 145.612793
NSW_falls_data_final['Latitude'] = -31.840233
WA_falls_data_final['Longitude'] = 122.805176
WA_falls_data_final['Latitude'] = -25.760321
SA_falls_data_final['Longitude'] = 136.209152
SA_falls_data_final['Latitude'] = -30.000233
QLD_falls_data_final['Longitude'] = 142.702789
QLD_falls_data_final['Latitude'] = -20.917574
TAS_falls_data_final['Longitude'] = 146.315918
TAS_falls_data_final['Latitude'] = -41.640079

In [ ]:
TAS_falls_data_final

In [ ]:
# Concatenating dfs
AUS_falls_data_final = pd.concat([NT_falls_data_final,ACT_falls_data_final,NSW_falls_data_final,
                                 VIC_falls_data_final,SA_falls_data_final,WA_falls_data_final,
                                 QLD_falls_data_final,TAS_falls_data_final])

In [ ]:
# Reseting the index
AUS_falls_data_final.reset_index(inplace=True)

In [ ]:
AUS_falls_data_final

In [ ]:
# Dropping the old index
AUS_falls_data_final.drop(AUS_falls_data_final.columns[0], axis=1,inplace=True)

In [ ]:
# Reading the excel file
Falls_due_to_external_causes = pd.ExcelFile('Falls due to External causes.xlsx')

In [ ]:
# Parsing the excel file
Falls_due_to_external_causes_df1 = Falls_due_to_external_causes.parse('Table 4.1', skiprows=2, index_col=None)

In [ ]:
Falls_due_to_external_causes_df1

In [ ]:
# Renaming columns
Falls_due_to_external_causes_df1.rename(columns={'Unnamed: 0':'Year','Cases':'Falls_from_slipping,tripping_and_stumbling_cases',
                                                'Age-standardised rate':'Falls_from_slipping,tripping_and_stumbling_rate',
                                                'Cases.1':'Other_fall_on_same_level_cases',
                                                'Age-standardised rate.1':'Other_fall_on_same_level_cases',
                                                'Cases.2':'All_other_causes_fall_cases',
                                                'Age-standardised rate.2':'All_other_causes_fall_rate',
                                                'Cases.3':'Unspecified_fall_cases',
                                                'Age-standardised rate.3':'Unspecified_fall_rate'}, inplace=True)

In [ ]:
# Extracting rows to a new df
Falls_due_to_external_causes_df1_males = Falls_due_to_external_causes_df1.iloc[1:14]

In [ ]:
Falls_due_to_external_causes_df1_males

In [ ]:
# Creating a new column and assigning values
Falls_due_to_external_causes_df1_males['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
Falls_due_to_external_causes_df1_females = Falls_due_to_external_causes_df1.iloc[15:28]

In [ ]:
Falls_due_to_external_causes_df1_females

In [ ]:
# Creating a new column and assigning values
Falls_due_to_external_causes_df1_females['Gender'] = 'Female'

In [ ]:
# Extracting rows to a new df
Falls_due_to_external_causes_df1_persons = Falls_due_to_external_causes_df1.iloc[29:42]

In [ ]:
Falls_due_to_external_causes_df1_persons

In [ ]:
# Creating a new column and assigning values
Falls_due_to_external_causes_df1_persons['Gender'] = 'Persons'

In [ ]:
# concatenating the dfs
Falls_due_to_external_causes_final = pd.concat([Falls_due_to_external_causes_df1_males,Falls_due_to_external_causes_df1_females,
                                               Falls_due_to_external_causes_df1_persons]).reset_index()

In [ ]:
Falls_due_to_external_causes_final

In [ ]:
# Dropping the old index
Falls_due_to_external_causes_final.drop(Falls_due_to_external_causes_final.columns[0], axis=1,inplace=True)

In [ ]:
# Reading the excel file
Type_of_injuries_by_falls = pd.ExcelFile('Type of injury due to falls.xlsx')

In [ ]:
# Parsing the excel tabs
Type_of_injuries_by_falls_df1 = Type_of_injuries_by_falls.parse('Table 3.1', skiprows=2, index_col=None)

In [ ]:
Type_of_injuries_by_falls_df1

In [ ]:
# Renaming the columns
Type_of_injuries_by_falls_df1.rename(columns={'Unnamed: 0':'Year','Cases':'Head_injury_cases',
                                                'Age-standardised rate':'Head_injury_rate',
                                                'Cases.1':'Abdomen,lower_back,lumbar_spine_and_pelvis_cases',
                                                'Age-standardised rate.1':'Abdomen,lower_back,lumbar_spine_and_pelvis_rate',
                                                'Cases.2':'Hip_and_thigh_cases',
                                                'Age-standardised rate.2':'Hip_and_thigh_rate',
                                                'Cases.3':'Knee_and_lower_leg_cases',
                                                'Age-standardised rate.3':'Knee_and_lower_leg_rate'}, inplace=True)

In [ ]:
# Extracting rows to a new df
Type_of_injuries_by_falls_df1_males = Type_of_injuries_by_falls_df1.iloc[1:14]

In [ ]:
Type_of_injuries_by_falls_df1_males

In [ ]:
# Adding a new column and assigning values
Type_of_injuries_by_falls_df1_males['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
Type_of_injuries_by_falls_df1_females = Type_of_injuries_by_falls_df1.iloc[15:28]

In [ ]:
Type_of_injuries_by_falls_df1_females

In [ ]:
# Adding a new column and assigning values
Type_of_injuries_by_falls_df1_females['Gender'] = 'Female'

In [ ]:
# Concatenating the files
Type_of_injuries_by_falls_final = pd.concat([Type_of_injuries_by_falls_df1_males,Type_of_injuries_by_falls_df1_females]).reset_index()

In [ ]:
Type_of_injuries_by_falls_final

In [ ]:
# Dropping the old index
Type_of_injuries_by_falls_final.drop(Type_of_injuries_by_falls_final.columns[0], axis=1,inplace=True)

In [ ]:
# Parsing a new excel tab to df
Type_of_injuries_by_falls_df2 = Type_of_injuries_by_falls.parse('Table 3.2', skiprows=1, index_col=None)

In [ ]:
Type_of_injuries_by_falls_df2

In [ ]:
Renaming the columns
Type_of_injuries_by_falls_df2.rename(columns={'Unnamed: 0':'Year'},inplace=True)

In [ ]:
# Extracting rows to a new df
Type_of_injuries_by_falls_df2_males = Type_of_injuries_by_falls_df2.iloc[1:14]

In [ ]:
Type_of_injuries_by_falls_df2_males

In [ ]:
# Adding a new column and assigning values
Type_of_injuries_by_falls_df2_males['Gender'] = 'Male'

In [ ]:
# Extracting rows to a new df
Type_of_injuries_by_falls_df2_females = Type_of_injuries_by_falls_df2.iloc[15:28]

In [ ]:
Type_of_injuries_by_falls_df2_females

In [ ]:
# Adding a new column and assigning values
Type_of_injuries_by_falls_df2_females['Gender'] = 'Female'

In [ ]:
# Extracting rows to a new df
Type_of_injuries_by_falls_df2_persons = Type_of_injuries_by_falls_df2.iloc[29:42]

In [ ]:
Type_of_injuries_by_falls_df2_persons

In [ ]:
# Adding a new column and assigning values
Type_of_injuries_by_falls_df2_persons['Gender'] = 'Persons'

In [ ]:
# Concatenating the dfs
head_injury_agewise_final = pd.concat([Type_of_injuries_by_falls_df2_males,Type_of_injuries_by_falls_df2_females,
                                      Type_of_injuries_by_falls_df2_persons]).reset_index()

In [ ]:
head_injury_agewise_final.drop(head_injury_agewise_final.columns[0],axis=1,inplace=True)

In [ ]:
head_injury_agewise_final

In [ ]:
# Parsing the excel file
hip_fracture_cases_df1 = Type_of_injuries_by_falls.parse('Table 3.6', skiprows=1, index_col=None)

In [ ]:
hip_fracture_cases_df1

In [ ]:
# Renaming the columns
hip_fracture_cases_df1.rename(columns={'Unnamed: 0':'Year'},inplace=True)

In [ ]:
# Extracting rows to a new df
hip_fracture_cases_df1_males = hip_fracture_cases_df1.iloc[1:14]

In [ ]:
hip_fracture_cases_df1_males

In [ ]:
# Adding a new column and assigning values
hip_fracture_cases_df1_males['Gender'] = 'Male'

In [ ]:
# Extracting rows to new df
hip_fracture_cases_df1_females = hip_fracture_cases_df1.iloc[15:28]

In [ ]:
hip_fracture_cases_df1_females

In [ ]:
# Adding a new column and assigning values
hip_fracture_cases_df1_females['Gender'] = 'Female'

In [ ]:
# Extracting rows to new df
hip_fracture_cases_df1_person = hip_fracture_cases_df1.iloc[29:42]

In [ ]:
hip_fracture_cases_df1_person

In [ ]:
# Adding a new column and assigning values
hip_fracture_cases_df1_person['Gender'] = 'Persons'

In [ ]:
# concatenating dfs
hip_fracture_cases_final = pd.concat([hip_fracture_cases_df1_person,hip_fracture_cases_df1_females,
                                     hip_fracture_cases_df1_males]).reset_index()

In [ ]:
hip_fracture_cases_final.head()

In [ ]:
hip_fracture_cases_final.drop(hip_fracture_cases_final.columns[0],axis=1,inplace=True)

In [ ]:
# Exporting df as csv files
falls_injury_by_age_sex_final.to_csv('falls_injury_by_age_sex_final.csv')

In [ ]:
# Exporting df as csv files
falls_injury_by_residence_final.to_csv('falls_injury_by_residence_final.csv')

In [ ]:
# Exporting df as csv files
falls_injury_by_indegenous_df1.to_csv('falls_injury_by_indegenous_df1.csv')

In [ ]:
# Exporting df as csv files
head_falls_injury_final.to_csv('head_falls_injury_final.csv')

In [ ]:
# Exporting df as csv files
NSW_falls_data_final.to_csv('NSW_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
VIC_falls_data_final.to_csv('VIC_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
TAS_falls_data_final.to_csv('TAS_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
QLD_falls_data_final.to_csv('QLD_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
WA_falls_data_final.to_csv('WA_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
SA_falls_data_final.to_csv('SA_falls_data_final.csv')

In [ ]:
# Exporting df as csv files
Falls_due_to_external_causes_final.to_csv('Falls_due_to_external_causes_final.csv')

In [ ]:
# Exporting df as csv files
Type_of_injuries_by_falls_final.to_csv('Type_of_injuries_by_falls_final.csv')

In [ ]:
# Exporting df as csv files
head_injury_agewise_final.to_csv('head_injury_agewise_final.csv')

In [ ]:
# Exporting df as csv files
hip_fracture_cases_final.to_csv('hip_fracture_cases_final.csv')

In [ ]:
# Exporting df as csv files
AUS_falls_data_final.to_csv('AUS_falls_data_final.csv')

In [10]:
os.getcwd()

'C:\\Users\\61470\\Downloads\\IE\\Data_iteration 2'

In [9]:
os.chdir('C:\\Users\\61470\\Downloads\\IE\\Data_iteration 2')

In [12]:
# Reading the excel file
hospital_care_data = pd.ExcelFile('Additional episodes of hospital care due to falls by older people.xlsx')

In [17]:
# Parsing the excel tab to a df
hospital_care_days_df1 = hospital_care_data.parse('Table 6.8', skiprows=3, index_col=None)

In [20]:
hospital_care_days_df1.head()

,Year,Fall injury case days,Inward transfer days,Total sum,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,2002–03,457518.0,82917.0,296607.0,837042.0,NaN,54.658906,9.905955,35.435139
1,2003–04,487505.0,97273.0,340946.0,925724.0,NaN,52.662025,10.507776,36.830200
2,2004–05,498649.0,95328.0,457590.0,1051567.0,NaN,47.419613,9.065328,43.515059
3,2005–06,515056.0,106230.0,466301.0,1087587.0,NaN,47.357683,9.767494,42.874823
4,2006–07,540885.0,119406.0,510871.0,1171162.0,NaN,46.183619,10.195515,43.620865

In [19]:
# Renaming column names
hospital_care_days_df1.rename(columns={'Persons':'Year','Unnamed: 1':'Fall injury case days',
                                      'Unnamed: 2':'Inward transfer days','Unnamed: 3':'Rehabilitation care days',
                                      'Unnamed: 3':'Total sum'}, inplace=True)

In [21]:
# Dropping the unwanted columns
hospital_care_days_final = hospital_care_days_df1.drop(hospital_care_days_df1.columns[4:9], axis=1)

In [22]:
hospital_care_days_final.head()

      Year  Fall injury case days  Inward transfer days  Total sum
0  2002–03               457518.0               82917.0   296607.0
1  2003–04               487505.0               97273.0   340946.0
2  2004–05               498649.0               95328.0   457590.0
3  2005–06               515056.0              106230.0   466301.0
4  2006–07               540885.0              119406.0   510871.0

In [4]:
os.getcwd()

'C:\\Users\\61470\\Downloads\\IE\\Wrangled Files'

In [3]:
os.chdir('C:\\Users\\61470\\Downloads\\IE\\Wrangled Files')

In [5]:
# Reading csv file
df_falls_injury_by_age_sex_2 = pd.read_csv('falls_injury_by_age_sex_final.csv')

In [8]:
df_falls_injury_by_age_sex_2.head()

,Year,65–69,65–69_rate,70–74,70–74_rate,75–79,75–79_rate,80–84,80–84_rate,85–89,85–89_rate,90–95,90–95_rate,95+,95+_rate,Total,Gender
0,1999–00,1864,563.383687,2352,796.613040,2974,1386.086008,2770,2407.042119,2656,4836.125273,912,5697.507341,215,5689.335803,51328,Male
1,2000–01,1768,533.149988,2365,789.404292,2950,1328.792916,3065,2495.989316,2684,4648.262963,1218,7073.581509,279,6577.086280,51435,Male
2,2001–02,1994,591.056491,2415,801.095992,3186,1393.926401,3249,2469.633166,2677,4445.809945,1322,7207.108979,322,7253.886010,51861,Male
3,2002–03,1875,541.830781,2446,814.483555,3162,1348.688420,3535,2527.798634,2893,4658.240077,1402,7213.047281,339,7803.867403,51954,Male
4,2003–04,1903,534.685735,2537,849.995980,3367,1401.124395,3909,2640.110224,3137,4942.025332,1572,7618.493748,359,8232.056868,54651,Male

In [7]:
# Dropping old index
df_falls_injury_by_age_sex_2.drop(df_falls_injury_by_age_sex_2.columns[0], axis=1, inplace =True)

In [11]:
#df_65 = df_falls_injury_by_age_sex_2[['Year','65–69','Gender']]

In [137]:
# Creating new df
df_65 = df_falls_injury_by_age_sex_2[['Year','65–69_rate','Gender']]

In [142]:
df_65.head()

      Year  Rate_per_100,000 Gender
0  1999–00        563.383687   Male
1  2000–01        533.149988   Male
2  2001–02        591.056491   Male
3  2002–03        541.830781   Male
4  2003–04        534.685735   Male

In [141]:
# Renaming column names
df_65.rename(columns={'65–69_rate':'Rate_per_100,000'}, inplace=True)

In [143]:
# Assigning column names
df_65['Age_Group'] = '65-69'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [144]:
# Creating new df
df_70 = df_falls_injury_by_age_sex_2[['Year','70–74_rate','Gender']]

In [145]:
# Adding new column and assigning values
df_70['Age_Group'] = '70-74'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [151]:
# Renaming column names
df_70.rename(columns={'70–74_rate':'Rate_per_100,000'}, inplace=True)

In [152]:
df_70.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00        796.613040   Male     70-74
1  2000–01        789.404292   Male     70-74
2  2001–02        801.095992   Male     70-74
3  2002–03        814.483555   Male     70-74
4  2003–04        849.995980   Male     70-74

In [153]:
# Creating new df
df_75 = df_falls_injury_by_age_sex_2[['Year','75–79_rate','Gender']]

In [154]:
# Renaming column names
df_75.rename(columns={'75–79_rate':'Rate_per_100,000'}, inplace=True)

In [155]:
# Adding new column and assigning values
df_75['Age_Group'] = '75-79'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
df_75.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00       1386.086008   Male     75-79
1  2000–01       1328.792916   Male     75-79
2  2001–02       1393.926401   Male     75-79
3  2002–03       1348.688420   Male     75-79
4  2003–04       1401.124395   Male     75-79

In [157]:
# Creating new df
df_80 = df_falls_injury_by_age_sex_2[['Year','80–84_rate','Gender']]

In [158]:
# Renaming column
df_80.rename(columns={'80–84_rate':'Rate_per_100,000'}, inplace=True)

In [159]:
df_80['Age_Group']= '80-84'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [160]:
df_80.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00       2407.042119   Male     80-84
1  2000–01       2495.989316   Male     80-84
2  2001–02       2469.633166   Male     80-84
3  2002–03       2527.798634   Male     80-84
4  2003–04       2640.110224   Male     80-84

In [161]:
# Creating new df
df_85 = df_falls_injury_by_age_sex_2[['Year','85–89_rate','Gender']]

In [162]:
# Renaming column name
df_85.rename(columns={'85–89_rate':'Rate_per_100,000'}, inplace=True)

In [163]:
# Adding column and assigning values
df_85['Age_Group']= '85-89'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [164]:
df_85.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00       4836.125273   Male     85-89
1  2000–01       4648.262963   Male     85-89
2  2001–02       4445.809945   Male     85-89
3  2002–03       4658.240077   Male     85-89
4  2003–04       4942.025332   Male     85-89

In [165]:
# Creating new df
df_90 = df_falls_injury_by_age_sex_2[['Year','90–95_rate','Gender']]

In [166]:
# Renaming column name
df_90.rename(columns={'90–95_rate':'Rate_per_100,000'}, inplace=True)

In [167]:
df_90['Age_Group']= '90-95'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [168]:
df_90.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00       5697.507341   Male     90-95
1  2000–01       7073.581509   Male     90-95
2  2001–02       7207.108979   Male     90-95
3  2002–03       7213.047281   Male     90-95
4  2003–04       7618.493748   Male     90-95

In [171]:
# Creating new df
df_95 = df_falls_injury_by_age_sex_2[['Year','95+_rate','Gender']]

In [175]:
df_95.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00       5689.335803   Male       95+
1  2000–01       6577.086280   Male       95+
2  2001–02       7253.886010   Male       95+
3  2002–03       7803.867403   Male       95+
4  2003–04       8232.056868   Male       95+

In [173]:
# Renaming column names
df_95.rename(columns={'95+_rate':'Rate_per_100,000'}, inplace=True)

In [174]:
df_95['Age_Group']= '95+'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [176]:
# storing df in a list
frames = [df_65,df_70,df_75,df_80,df_85,df_90,df_95]

In [177]:
# concatenating dfs
df_falls_injury_by_age_sex_2_final_rate = pd.concat(frames)

In [178]:
df_falls_injury_by_age_sex_2_final_rate.head()

      Year  Rate_per_100,000 Gender Age_Group
0  1999–00        563.383687   Male     65-69
1  2000–01        533.149988   Male     65-69
2  2001–02        591.056491   Male     65-69
3  2002–03        541.830781   Male     65-69
4  2003–04        534.685735   Male     65-69

In [179]:
# Exporting df to csv
df_falls_injury_by_age_sex_2_final_rate.to_csv('df_falls_injury_by_age_sex_2_final_rate.csv')

In [75]:
# Reading the csv file
falls_injury_by_residence_2 = pd.read_csv('falls_injury_by_residence_final.csv')

In [76]:
falls_injury_by_residence_2.head()

   Unnamed: 0     Year  65–69  70–74  75–79  80–84    85+  Total     Residence
0           0  2001–02   3093   4611   7035   8686  13868  73845  Major cities
1           1  2002–03   3070   4516   7101   9002  14230  74643  Major cities
2           2  2003–04   3275   4708   7390   9836  15413  79500  Major cities
3           3  2004–05   3472   4695   7595  10574  16148  81960  Major cities
4           4  2005–06   3660   4817   7672  10926  17562  84740  Major cities

In [77]:
# Creating new df
df_65_r = falls_injury_by_residence_2[['Year','65–69','Residence']]

In [79]:
# Creating new df
df_70_r = falls_injury_by_residence_2[['Year','70–74','Residence']]

In [80]:
# Creating new df
df_75_r = falls_injury_by_residence_2[['Year','75–79','Residence']]

In [81]:
# Creating new df
df_80_r = falls_injury_by_residence_2[['Year','80–84','Residence']]

In [83]:
# Creating new df
df_85_r = falls_injury_by_residence_2[['Year','85+','Residence']]

In [86]:
df_65_r.head()

      Year  Count     Residence
0  2001–02   3093  Major cities
1  2002–03   3070  Major cities
2  2003–04   3275  Major cities
3  2004–05   3472  Major cities
4  2005–06   3660  Major cities

In [85]:
# Renaming column name
df_65_r.rename(columns={'65–69':'Count'}, inplace=True)

C:\Users\61470\Anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [87]:
# Renaming column name
df_70_r.rename(columns={'70–74':'Count'}, inplace=True)

In [88]:
# Renaming column name
df_75_r.rename(columns={'75–79':'Count'}, inplace=True)

In [89]:
# Renaming column name
df_80_r.rename(columns={'80–84':'Count'}, inplace=True)

In [90]:
# Renaming column name
df_85_r.rename(columns={'85+':'Count'}, inplace=True)

In [93]:
df_65_r.head()

      Year  Count     Residence Age_Group
0  2001–02   3093  Major cities     65-69
1  2002–03   3070  Major cities     65-69
2  2003–04   3275  Major cities     65-69
3  2004–05   3472  Major cities     65-69
4  2005–06   3660  Major cities     65-69

In [92]:
# Creating column and assinging values
df_65_r['Age_Group']= '65-69'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
# Creating column and assinging values
df_70_r['Age_Group']= '70-74'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
# Creating column and assinging values
df_75_r['Age_Group']= '75-79'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
# Creating column and assinging values
df_80_r['Age_Group']= '80-84'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
# Creating column and assinging values
df_85_r['Age_Group']= '85+'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
df_70_r

       Year  Count     Residence Age_Group
0   2001–02   4611  Major cities     70-74
1   2002–03   4516  Major cities     70-74
2   2003–04   4708  Major cities     70-74
3   2004–05   4695  Major cities     70-74
4   2005–06   4817  Major cities     70-74
..      ...    ...           ...       ...
65  2010–11     55   Very Remote     70-74
66  2011–12     64   Very Remote     70-74
67  2012–13     62   Very Remote     70-74
68  2013–14     94   Very Remote     70-74
69  2014–15     74   Very Remote     70-74

[70 rows x 4 columns]

In [100]:
# Concatenating the dfs
falls_injury_by_residence_2_final = pd.concat([df_65_r,df_70_r,df_75_r,df_80_r,df_85_r])

In [101]:
# Exporting df to csv
falls_injury_by_residence_2_final.to_csv('falls_injury_by_residence_2_final.csv')

In [102]:
aus_data_2 = pd.read_csv('AUS_falls_data_final.csv')

In [103]:
aus_data_2.head()

,Unnamed: 0,Injury Type,65–69,70–74,75–79,80–84,85–89,90–94,95+,Gender,State,Longitude,Latitude
0,0,Falls,1374.081971,2446.724546,4785.020804,7058.823529,11111.111111,n.p.,n.p.,Male,NT,130.841782,-12.462827
1,1,Total_Injuries,3316.749585,4459.352802,7142.857143,9915.966387,13725.490196,n.p.,n.p.,Male,NT,130.841782,-12.462827
2,2,Falls,1640.402997,2412.233470,4543.775397,7651.109411,12338.593974,n.p.,n.p.,Persons,NT,130.841782,-12.462827
3,3,Total_Injuries,3203.306639,4006.030584,6501.662357,9869.931140,14921.090387,16450.216450216452,16666.666666666664,Persons,NT,130.841782,-12.462827
4,4,Falls,1640.402997,2412.233470,4543.775397,7651.109411,12338.593974,n.p.,n.p.,Persons,NT,130.841782,-12.462827

In [105]:
# Creating df
df_65_a = aus_data_2[['Injury Type','65–69','Gender','State','Longitude','Latitude']]

In [125]:
df_65_a.head()

      Injury Type        Count   Gender State   Longitude   Latitude Age_Group
0          Falls   1374.081971     Male    NT  130.841782 -12.462827     65-69
1  Total_Injuries  3316.749585     Male    NT  130.841782 -12.462827     65-69
2          Falls   1640.402997  Persons    NT  130.841782 -12.462827     65-69
3  Total_Injuries  3203.306639  Persons    NT  130.841782 -12.462827     65-69
4          Falls   1640.402997  Persons    NT  130.841782 -12.462827     65-69

In [108]:
# Creating df
df_70_a = aus_data_2[['Injury Type','70–74','Gender','State','Longitude','Latitude']]

In [107]:
aus_data_2.columns

Index(['Unnamed: 0', 'Injury Type', '65–69', '70–74', '75–79', '80–84',
       '85–89', '90–94', '95+', 'Gender', 'State', 'Longitude', 'Latitude'],
      dtype='object')

In [109]:
# Creating df
df_75_a = aus_data_2[['Injury Type','75–79','Gender','State','Longitude','Latitude']]

In [110]:
# Creating df
df_80_a = aus_data_2[['Injury Type','80–84','Gender','State','Longitude','Latitude']]

In [111]:
# Creating df
df_85_a = aus_data_2[['Injury Type','85–89','Gender','State','Longitude','Latitude']]

In [112]:
# Creating df
df_90_a = aus_data_2[['Injury Type','90–94','Gender','State','Longitude','Latitude']]

In [113]:
# Creating df
df_95_a = aus_data_2[['Injury Type','95+','Gender','State','Longitude','Latitude']]

In [116]:
# Renaming column name
df_65_a.rename(columns={'65–69':'Count'}, inplace=True)

In [118]:
# Renaming column name
df_70_a.rename(columns={'70–74':'Count'}, inplace=True)

In [119]:
# Renaming column name
df_75_a.rename(columns={'75–79':'Count'}, inplace=True)

In [120]:
# Renaming column name
df_80_a.rename(columns={'80–84':'Count'}, inplace=True)

In [121]:
# Renaming column name
df_85_a.rename(columns={'85–89':'Count'}, inplace=True)

In [122]:
# Renaming column name
df_90_a.rename(columns={'90–94':'Count'}, inplace=True)

In [123]:
# Renaming column name
df_95_a.rename(columns={'95+':'Count'}, inplace=True)

In [124]:
# Adding new column and assigning values
df_65_a['Age_Group'] = '65-69'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
# Adding new column and assigning values
df_70_a['Age_Group'] = '70-74'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [127]:
# Adding new column and assigning values
df_75_a['Age_Group'] = '75-79'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [129]:
# Adding new column and assigning values
df_80_a['Age_Group'] = '80-84'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [130]:
# Adding new column and assigning values
df_85_a['Age_Group'] = '85-89'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [131]:
# Adding new column and assigning values
df_90_a['Age_Group'] = '90-94'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
# Adding new column and assigning values
df_95_a['Age_Group'] = '95+'

C:\Users\61470\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
# Concatenating all the dfs
aus_data_2_final = pd.concat([df_65_a,df_70_a,df_75_a,df_80_a,df_85_a,df_90_a,df_95_a])

In [135]:
aus_data_2_final.head(50)

       Injury Type    Count   Gender State   Longitude   Latitude Age_Group
0           Falls   1374.08     Male    NT  130.841782 -12.462827     65-69
1   Total_Injuries  3316.75     Male    NT  130.841782 -12.462827     65-69
2           Falls    1640.4  Persons    NT  130.841782 -12.462827     65-69
3   Total_Injuries  3203.31  Persons    NT  130.841782 -12.462827     65-69
4           Falls    1640.4  Persons    NT  130.841782 -12.462827     65-69
5   Total_Injuries  3203.31  Persons    NT  130.841782 -12.462827     65-69
6           Falls   1136.23     Male   ACT  149.012375 -35.473469     65-69
7   Total_Injuries   2224.1     Male   ACT  149.012375 -35.473469     65-69
8           Falls   1203.36  Persons   ACT  149.012375 -35.473469     65-69
9   Total_Injuries   2094.3  Persons   ACT  149.012375 -35.473469     65-69
10          Falls   1203.36  Persons   ACT  149.012375 -35.473469     65-69
11  Total_Injuries   2094.3  Persons   ACT  149.012375 -35.473469     65-69
12          Falls   927.158     Male   NSW  145.612793 -31.840233     65-69
13  Total_Injuries  2085.18     Male   NSW  145.612793 -31.840233     65-69
14          Falls   1310.89   Female   NSW  145.612793 -31.840233     65-69
15  Total_Injuries  2038.36   Female   NSW  145.612793 -31.840233     65-69
16          Falls   1121.47  Persons   NSW  145.612793 -31.840233     65-69
17  Total_Injuries  2061.47  Persons   NSW  145.612793 -31.840233     65-69
18          Falls   801.143     Male   VIC  144.964600 -37.020100     65-69
19  Total_Injuries  1794.73     Male   VIC  144.964600 -37.020100     65-69
20          Falls   1384.17   Female   VIC  144.964600 -37.020100     65-69
21  Total_Injuries  2102.93   Female   VIC  144.964600 -37.020100     65-69
22          Falls   1100.92  Persons   VIC  144.964600 -37.020100     65-69
23  Total_Injuries   1953.2  Persons   VIC  144.964600 -37.020100     65-69
24          Falls    932.24     Male    SA  136.209152 -30.000233     65-69
25  Total_Injuries  1985.33     Male    SA  136.209152 -30.000233     65-69
26          Falls   1345.31   Female    SA  136.209152 -30.000233     65-69
27  Total_Injuries  2079.49   Female    SA  136.209152 -30.000233     65-69
28          Falls   1144.03  Persons    SA  136.209152 -30.000233     65-69
29  Total_Injuries  2033.61  Persons    SA  136.209152 -30.000233     65-69
30          Falls   662.544     Male    WA  122.805176 -25.760321     65-69
31  Total_Injuries  1773.58     Male    WA  122.805176 -25.760321     65-69
32          Falls    1022.7   Female    WA  122.805176 -25.760321     65-69
33  Total_Injuries  1714.62   Female    WA  122.805176 -25.760321     65-69
34          Falls   843.217  Persons    WA  122.805176 -25.760321     65-69
35  Total_Injuries     1744  Persons    WA  122.805176 -25.760321     65-69
36          Falls   1016.31     Male   QLD  142.702789 -20.917574     65-69
37  Total_Injuries  2238.22     Male   QLD  142.702789 -20.917574     65-69
38          Falls   1454.12   Female   QLD  142.702789 -20.917574     65-69
39  Total_Injuries  2232.68   Female   QLD  142.702789 -20.917574     65-69
40          Falls   1236.34  Persons   QLD  142.702789 -20.917574     65-69
41  Total_Injuries  2235.43  Persons   QLD  142.702789 -20.917574     65-69
42          Falls   806.702     Male   TAS  146.315918 -41.640079     65-69
43  Total_Injuries  1644.43     Male   TAS  146.315918 -41.640079     65-69
44          Falls   1113.48   Female   TAS  146.315918 -41.640079     65-69
45  Total_Injuries   1734.1   Female   TAS  146.315918 -41.640079     65-69
46          Falls   961.598  Persons   TAS  146.315918 -41.640079     65-69
47  Total_Injuries  1689.71  Persons   TAS  146.315918 -41.640079     65-69
0           Falls   2446.72     Male    NT  130.841782 -12.462827     70-74
1   Total_Injuries  4459.35     Male    NT  130.841782 -12.462827     70-74

In [136]:
# Exporting df to csv
aus_data_2_final.to_csv('aus_data_2_final.csv')